[Unit]
Description=AI4RadMed Vault Auto Unseal Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/ben/projects/ai4radmed
Environment="PROJECT_ROOT=/home/ben/projects/ai4radmed"
Environment="BASE_DIR=/opt/ai4radmed"
ExecStart=/home/ben/projects/ai4radmed/.venv/bin/python /home/ben/projects/ai4radmed/scripts/ai4radmed/ai4radmed-cli.py unseal-vault
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
